<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        {block name="title"}{$__page_name__}{/block}
    </title>
    {block name="style"}{/block}

    {foreach name="__css__" item="file"}
    <link rel="stylesheet" href="{$file}">
    {/foreach}
    {block name="head_script"}{/block}
</head>
<body>

<div class="layout">
    <div class="layout-left layui-bg-black">
        <i class="close-menu layui-icon layui-icon-close-fill"></i>
        <h1 class="layui-bg-black site-title">{$__site_name__|raw}</h1>
        {block name="left"}
        {$__menu__}
        {/block}
    </div>
    <div class="layout-main">
        <div class="layout-main-head">
            {block name="header"}
            <div class="layui-show-xs layui-hide-sm layui-hide-md layui-hide-lg">
                <button type="button" class="layui-btn layui-btn-primary show-menu">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </button>
            </div>
            <div class="layui-hide-xs">
                {block name="page_name"}<h3 class="page-title">{$__page_name__}</h3>{/block}
                {block name="header_nav"}
                    {$__breadcrumb__}
                {/block}
            </div>
            <div>
                <!-- 添加/返回按钮 -->
                {block name="header_action"}{/block}
            </div>

            {/block}
        </div>
        <div class="layout-main-body">

            <div class="layout-main-body-main">

                <div>
                    <!-- 过滤器 -->
                    {block name="filter"}{/block}
                </div>
                <!-- 主体-表格 -->
                {block name="body"}{/block}

            </div>
            <div>
                <!-- 分页 -->
                {block name="pagination"}{/block}
            </div>
        </div>


    </div>
</div>
{foreach name="__js__" item="file"}
<script src="{$file}"></script>
{/foreach}
{block name="body_script"}{/block}
</body>
</html>
