{block name="main"}
<?php


$showHeight = 80;
$ratio = 80/$height;
$showWidth = $width*$ratio ;

// 默认一张
$multiple = $multiple ? $multiple : 1;

$imgVal = explode(',',$value);

function getImgVal($index,$arr){
    return $arr[$index] ?? '';
}

?>

<div class="uploads">
    <?php for($i = 0; $i < $multiple ; $i++): ?>
    <div class="upload-img-box" style="width: {$showWidth}px;height:{$showHeight}px" id="{$elem_id}_box"
         data-id="{$elem_id}"
         data-index="{$i}"
         data-url="{$url}" data-width="{$width}" data-height="{$height}"
         data-cropper="{$cropper}"
    >
        {if getImgVal($i,$imgVal) }
        <img src="<?php echo getImgVal($i,$imgVal);  ?>" class="upload-img-res"
             onerror="this.src='{$static_root}img/img_load_error.png'">
        <i class="layui-icon layui-icon-close" onclick='MyUpload.onDel("{$i}","{$elem_id}_input")'></i>
        {else/}
        <i class="layui-icon layui-icon-upload-drag"></i>
        <span>点击上传</span>
        {/if}
    </div>
    <?php endfor; ?>
</div>
<div style="color: #d2d2d2;font-size: 12px;">{if !$cropper}建议{/if}尺寸 {$width}*{$height} 比例
    {:sprintf("%.2f",$width/$height)}:1
</div>
<input type="hidden" {$attr} id="{$elem_id}_input" class="layui-input {$class}" name="{$field}" value="{$value}">

{/block}

{block name="js"}
{/block}

{block name="style"}
<style>
    .uploads {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .uploads .upload-img-box {
        margin-bottom: 10px;
        margin-right: 10px;
        position: relative;
    }

    .uploads .upload-img-res {
        width: 100%;
        height: 100%;
    }

    .uploads .layui-icon-close {
        position: absolute;
        right: -8px;
        top: -10px;
        font-size: 20px;
        background: #ffffff;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .uploads .layui-icon-close:hover {
        color: red;
    }

</style>
{/block}

